# Include the README
include *.md
include lbpcascade_animeface/*.py 
include lbpcascade_animeface/lbpcascade_animeface.xml
exclude lbpcascade_animeface.xml

# Include the license file
# include LICENSE.txt

# Include the data files
# recursive-include data *
